html, body {
	height: 100%;
	margin: 0;
	display: block;
	overflow: hidden;
}

.details {
	z-index: 2;
	top: 0px;
	margin-top: 0%;
	padding-top: 0px;
	margin-bottom: 0px;
	/* background: url('/images/back_bg.jpg') no-repeat; */
	background: -webkit-linear-gradient(white 20%, lightgrey 40%);
	background: -o-linear-gradient(white 20%, lightgrey 40%);
	background: -moz-linear-gradient(white 20%, lightgrey 40%);
	background: linear-gradient(white 20%, lightgrey 40%);
	background-size: 100% auto;
	display: block;
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

.cover {
	top: 0px;
	margin-top: 0%;
	padding-top: 0px;
	margin-bottom: 0px;
	background: url('/images/front_bg.jpg') no-repeat;
	background-size: 100% auto;
	display: block;
	position: relative;
	min-width: 100%;
	min-height: 100%;
	-webkit-box-shadow: 8px 1px 37px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px 1px 37px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 8px 1px 37px -2px rgba(0, 0, 0, 0.75);
}

.header {
	z-index: 50;
	position: fixed;
	margin-top: 0px;
	min-width: 100%;
	padding-top: 0px;
	font-family: 'Hind Vadodara', sans-serif;
}

.header .headeroverlay {
	background-color: #000000;
	opacity: 0.6;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	-webkit-box-shadow: 8px 1px 37px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px 1px 37px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 8px 1px 37px -2px rgba(0, 0, 0, 0.75);
}

.header ul {
	right: 0px;
	top: 1.5%;
	margin-left: 65%;
}

.header li {
	display: inline;
	padding-right: 4%;
	padding-left: 0;
	padding-top: 2%;
	padding-bottom: 1.25%;
	position: relative;
}

.header a {
	font-size: 16px;
	text-decoration: none;
	color: #FFFFFF;
}

.header a:HOVER {
	border-bottom: 2px solid #FBCF61;
}

.logotitle {
	z-index: 1;
	color: #FFFFFF;
	font-size: 24px;
	position: absolute;
	padding-left: 2%;
	padding-top: 0.75%;
	top: 0px;
}

.logotitle .title {
	display: inline;
	position: relative;
}

.logotitle img {
	max-width: 40px;
	padding-right: 3.5%;
}

.content {
	position: fixed;
	left: 35%;
	top: 30%;
	z-index: 999;
}

.content .title {
	left: -50%;
	top: -50%;
}

.content .title .main {
	font-family: 'Pinyon Script', cursive;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
}

.content .title .main span {
	opacity: 0;
}

.content .title .sub {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 50px;
}

.content .title .subdate {
	font-family: 'Pinyon Script', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.caption {
	float: right;
	position: relative;
	padding-top: 22.5%;
	font-family: 'Hind Vadodara', sans-serif;
	font-size: 22px;
	color: #FFFFFF;
	min-width: 17.5%;
	right: -250px;
}

.caption .main {
	width: 0px;
	height: 0px;
	border-top: 30px solid #FF6F6F;
	border-bottom: 30px solid #FF6F6F;
	border-right: 200px solid #FF6F6F;
	/* 	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 22%;
	padding-right: 22%; */
	background-color: transparent;
	cursor: pointer;
	border-left: 50px solid transparent;
	background-color: transparent
}

.caption .main:HOVER {
	border-top: 30px solid #D1404A;
	border-bottom: 30px solid #D1404A;
	border-right: 200px solid #D1404A;
	margin-top: -2%;
}

.caption .main a {
	color: #FFFFFF;
	text-decoration: none;
	min-width: 200px;
	position: absolute;
	margin-top: -7%;
	margin-left: 10%;
}

/* DETAILS SECTION */
.details .caption {
	float: left;
	position: relative;
	padding-top: 22.5%;
	font-family: 'Hind Vadodara', sans-serif;
	font-size: 22px;
	color: #FFFFFF;
	min-width: 17.5%;
	left: -250px;
	z-index: 99;
}

.details .caption .backlink {
	width: 0px;
	height: 0px;
	border-top: 30px solid #FF6F6F;
	border-bottom: 30px solid #FF6F6F;
	border-right: 30px solid transparent;
	/* 	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 22%;
	padding-right: 22%; */
	background-color: transparent;
	cursor: pointer;
	border-left: 150px solid #FF6F6F;
	background-color: transparent
}

.details .caption .backlink:HOVER {
	border-top: 30px solid #D1404A;
	border-bottom: 30px solid #D1404A;
	border-left: 150px solid #D1404A;
	margin-top: -2%;
}

.details .caption .backlink a {
	color: #FFFFFF;
	text-decoration: none;
	min-width: 200px;
	position: absolute;
	margin-left: -60%;
	margin-top: -7%;
}

.sky {
	z-index: 3;
	min-height: 100px;
	min-width: 100px;
	max-width: 100px;
	padding-left: 45%;
	padding-top: 15%;
}

.sky .sunmorning {
	background: url('/images/morning/sun.png') no-repeat;
	background-size: 10% auto;
	min-height: 100%;
	min-width: 100%;
	height: 100px;
	width: 100px;
	max-height: 100px;
	max-width: 100px;
	display: block;
	position: fixed;
	-webkit-filter: drop-shadow(0px 20px 20px #efa638);
	filter: drop-shadow(5px 5px 5px #efa638);
	margin-left: 40%;
	margin-top: 30%;
}

.buildings {
	z-index: 3;
	min-height: 300px;
	min-width: 100%;
	padding-top: 31%;
	padding-left: 12.5%;
	padding-bottom: 0%;
	margin-bottom: 0px;
	bottom: 0px;
	top: 0px;
	position: absolute;
}


.buildings .rumahijo {
	z-index: 40;
	background: url('/images/morning/Rumah ijo.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 170px;
	height: 350px;
	display: inline-block;
	position: absolute;
	top: 700px;
}

.buildings .rumahbiru {
	z-index: 42;
	background: url('/images/morning/Rumah biru.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 185px;
	height: 350px;
	display: inline-block;
	position: absolute;
	left: 23%;
	top: 700px;
}

.buildings .rumahpizza {
	z-index: 43;
	background: url('/images/morning/Rumah Pizza.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 200px;
	height: 350px;
	display: inline-block;
	position: absolute;
	left: 56%;
	top: 700px;
}

.buildings .rumahroti {
	z-index: 41;
	background: url('/images/morning/Rumah roti.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 290px;
	height: 350px;
	display: inline-block;
	position: absolute;
	left: 36%;
	top: 700px;
}

.buildings .rumahkecil {
	z-index: 41;
	background: url('/images/morning/Rumah kecil.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 130px;
	height: 200px;
	display: inline-block;
	position: absolute;
	left: 70%;
	top: 700px;
}

.buildings .tugu {
	z-index: 41;
	background: url('/images/morning/Tugu.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 130px;
	bottom: 0px;
	top: 45%;
	height: 200px;
	display: inline-block;
	position: absolute;
	left: 77%;
	top: 700px;
}

.shadows{
	z-index: 2;
	min-height: 300px;
	min-width: 100%;
	padding-top: 20%;
	padding-left: 12.5%;
	padding-bottom: 0%;
	margin-bottom: 0px;
	bottom: 0px;
	top: 0px;
	position: absolute;
}

.shadows .gedung1 {
	z-index: 31;
	background: url('/images/morning/Gedung1.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 100px;	
	bottom: 0px;
	top: 30%;
	height: 350px;
	display: inline-block;
	position: absolute;
	top: 900px;
}

.shadows .gedung2 {
	z-index: 32;
	background: url('/images/morning/Gedung2.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 175px;
	bottom: 0px;
	top: 40%;
	margin-top: 7.5%;
	height: 325px;
	display: inline-block;
	position: absolute;
	left: 17.5%;
	top: 900px;
}

.shadows .gedung3 {
	z-index: 34;
	background: url('/images/morning/Gedung3.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 150px;
	margin-top: 9%;
	height: 325px;
	display: inline-block;
	position: absolute;
	left: 30%;
	top: 900px;
}

.shadows .gedung4 {
	z-index: 33;
	background: url('/images/morning/Gedung bayangan.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 175px;
	margin-top: 6%;
	height: 325px;
	display: inline-block;
	position: absolute;
	left: 38%;
	top: 900px;
}
.shadows .gedung5 {
	z-index: 32;
	background: url('/images/morning/Gedung2.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 200px;
	margin-top: 7.5%;
	height: 325px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 900px;
}

.shadows .gedung6 {
	z-index: 34;
	background: url('/images/morning/Gedung3.png') no-repeat;
	background-size: 100% auto;
	min-height: 100%;
	min-width: 190px;
	margin-top: 2%;
	height: 325px;
	display: inline-block;
	position: absolute;
	left: 64%;
	top: 900px;
}

/* END DETAILS SECTION */